

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.loading {
  color: black;
  margin: 3rem 0;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: progress;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
